<!DOCTYPE html>

<html lang="it">

    <head>
        <title >
            prova websocket
        </title>
        <script type="text/javascript" src="./js/ws.js">
        </script>
    </head>
    <body>
        <h1>
            NASA APOD saver
        </h1>
        <h2>
            you are 'd'
        </h2>
        <button onclick="foo()">
            foo
        </button>


        <input type="date" id="apod-day" name="apod-day" max="" onchange=""/>

    </body>


</html>